{
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "endOfLine": "auto",
  "printWidth": 140,
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false
}
